# Text Data Problem Set

<span style="color:red">0 / 0 points</span>.

In [1]:
# This code cell will be in every one of our chapters in Jupyter Notebook
# The function allows you to see every line of output when the code has multiple lines
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# Load packages
import pandas as pd
import matplotlib.pyplot as plt

## Programming

1. Read in the housing.csv file from `problem_sets/control_structures/` and name it `housing`. If you remember, the `CITY` variables all have the word 'city' attached to the end of the actual city name, i.e.: 'Miami city, Boise City city, Santa Fe city' etc.
    - Use regex and string functions to extract the clean city name from `CITY` and update the values of the `CITY` variable.
    - Use [regex101](https://regex101.com) and Dave Child's [regex cheat sheet](https://cheatography.com/davechild/cheat-sheets/regular-expressions/) for reference.

2. Show the fruits of your labor: Re-create the plot 'Vacant Properties - Top Ten Cities in California' from the Data Visualization chapter. The city names should no longer have the string 'city' at the end. (You will need to subset housing to observations where `STATE` = California and `YEAR` = 2022)

3. Read in the Central America CSV file inside of the `DATA/ACLED/` folder and name the new dataframe `central_america`. Imagine you wish to find conflicts between government forces and organized crime. You do not want conflicts between gangs or against civilians. Using string functions, search for events that involved either a 'cartel' _or_ a 'gang', __and__ military forces (_either_ army, navy, air force, armed forces, or police).

4. With the subset of the data you created using the above search conditions from question 3, display what unique values of `event_type` were most common when gangs and armed forces were involved.

5. Create an object called `date` and assign it this exact string value: `99 31 dec`

6. Transform the `date` string into a datetime object, with assignment. You can refer to this [manual](https://4js.com/online_documentation/fjs-fgl-3.00.05-manual-html/c_fgl_DataConversions_format_datetimes.html) to parse the string's format into datetime.

7. Turn the `date` object into a new string with the format `Friday. December 31, 1999`, _without_ assignment.

8. Turn the `date` object into another new string with the format `12-31-99`, _without_ assignment.

9. From the `central_america` dataframe, display every unique value of the `actor1` variable.

10. The variable for the main actor, `actor1`, sometimes includes text in parentheses, sometimes not. Extract the clean string value without the parenthetical text using regular expressions to a new `clean_actors` object.
    - You should use a list comprehension with an if-else condition to check for parentheticals. If there is text within parentheses, extract the name of the actor. Otherwise, use the value of `actor1` as-is.
    - The `i` iteration object should be every `i in central_america['actor1']` instead of a range of numbers, because it makes the list comprehension _much_ faster.
    - The `i` iteration object needs to be a `pd.Series()` object for `.str` functions to work, so wrap it in the `pd.Series()` command. Series get assigned an index number and that number appears in your new list, so use a simple `[0]` subset after each `pd.Series()` object to extract a value without an index number.
    - Assign `clean_actors` to a new variable in `central_america` with the same name. Check your work by displaying the first ten observations of `central_america`.
    - Like question nine, display every unique value of `central_america['clean_actors']`.



11. You will make a new variable in the `central_america` datafrime that is a sentence in natural English. This sentence will be a concatenation of the string values in several different columns in the data plus your own words. The sentence should read like this:

    `On [date], [an/the/... actors was/were] involved in [conflict event] in the [region] region of [country].`

    Your first step is to make a new variable that places 'an/the/...' and 'was/were' before and after the actor, based on the values of the strings inside `clean_actors`. There are three conditions:
    1. First make a variable named `actors` that concatenates the string `the ` plus any value of `clean_actor` plus ` were`. The new variable should 'the [Organization X] were'. Do not worry if there are some grammar mistakes. The next steps will replace those.
    2. Using conditional replacement, replace any values in `actors` if the string in `clean_actor` ends with an `s` (use regex). Turn the entire new string to lowercase. Also add the string ` were` to the end so that it reads 'actors were'.
    3. Using conditional replacement, replace any values in `actors` when the string in `clean_actor` starts with the string `Unidentified` (regex or a literal search both work). Turn this entire new string to lowercase as well. Add strings `an ` plus the lowercase value of `clean_actor` plus the string ` was` so that it reads 'an unidentified actor was'.

    Display the first seven observations of `central_america[['actor1', 'clean_actors', 'actors']]`

12. Make the entire concatenated sentence we mentioned in question 11 in a new variable named `sentence`. The variable for conflict event is capitalized, but your sentence should make it lowercase. Change the cell display width to 300 (`pd.options.display.max_colwidth = 300`), in order to display `sentence` and `notes` side by side as a two-column table.

13. Create a custom function named `no_parentheses` which takes a single dataframe column as an argument. Name that argument `column`. The function should use your list comprehension loop from question 10 to strip the final parenthetical from a column of strings and return a clean list of strings that you can re-assign to a dataframe. In the answer,  display the first twenty observations of `central_america['source']`.  Then use the `no_parentheses` function to assign a new variable called `clean_source` in the `central_america` dataframe. Display the first 20 observations of this new column.

In [ ]:
clean_actors = [pd.Series(i).str.extract(r'(.+)\s\(.+\)', expand=False)[0] if pd.Series(i).str.contains(r'\(.+\)')[0]
 else pd.Series(i)[0] for i in central_america['actor1']]
central_america['clean_actors'] = clean_actors

## Interpretation Questions

14. What other variables in the ACLED data can be cleaned with your custom `no_parentheses` function?

15. Considering __all__ of the variables available in the ACLED data, could a programmer recreate the descriptions in the `notes` variable using only automated text processing? Give two examples why this would or would not be achievable.

## Debugging

16. The string matching code below is meant to display all 133 observations where the `notes` variable contains both terms 'protest' and 'pension'. In a new cell, fix the code syntax so that you get all matching rows of `notes`.

In [22]:
central_america[central_america['notes'].str.contains('protest' & 'pension')]['notes']

TypeError: unsupported operand type(s) for &: 'str' and 'str'

15. The `to_datetime` function is having trouble parsing the date string '1987 01 12' (that is December 1, 1987). Correct the datetime formatting in a new code cell so that the string correctly transforms to a datetime object for this date.

In [17]:
pd.to_datetime('1987 01 12', format='%y, %d %b')

ValueError: time data "1987 01 12" doesn't match format "%y, %d %b", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

16. In the line of code below, we are trying to make a string that simply reads `Unidentified Armed Group in Central America`, but the `str.extract` output in `ex1` has a zero and some additional 'meta' information about the extracted value. In a new cell fix the code so that `print()` correctly displays the string we want. Do not change anything about the `print()` line

In [18]:
ex1 = central_america['actor1'].str.extract(r'(.+)\s\(.+\)', expand=False)[[0]]

print(ex1 + ' in Central America')

0    Unidentified Armed Group in Central America
Name: actor1, dtype: object