# Working with text Data

Text data types are a major part of the data which social scientists can study, and we will dedicate this chapter to the tools that will help you manage text in Python. Remember that in programming the term 'string' is a synonym for data that comes in the form of text. As opposed to the quantitative analysis chapter, you can also understand strings as any non-numeric data. You might be studying survey data where open-ended questions give nuance and context to closed-ended quantitative questions about survey respondents' opinions on a given topic. Social media data around people's posts are predominantly text: The users' posts and conversations, hastags, place names, even the date is parsed as a string variable. It is up to the researcher, then, to parse this data that is often the least structured and hardest to analyze. 

Before introducing the lesson we want to make it clear that this chapter is not about qualitative methods in social science. That aspect of social science research encompasses interviews, focus groups, ethnography, photography and videography, audio recordings, and a very rigorous and detailed process of coding and describing the data to  create meaning around your research question. This chapter cannot teach your those methods. This chapter is about string variables, cleaning strings, formatting strings, and searching and matching strings so that you can better understand and use the text data available to you. This chapter can get you to where your qualitative data are ready for analysis, but the analytical methods will be beyond the scope of this book.

- suggest further reading? Same for other chapters?

In [1]:
# This code cell will be in every one of our chapters in Jupyter Notebook
# The function allows you to see every line of output when the code has multiple lines
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# Load packages
import pandas as pd

### Loading the Armed Conflict Location & Event Data

This chapter revisits the Armed Conflict Location & Event Data Project (ACLED). You had some experience with the ACLED data in the second pandas chapter, including a basic introduction to pandas' string search function .str.contains(). You will learn more about searching strings and text formatting with this very text-heavy dataset. ACLED data comes with specific regions of the world in different CSV files. We have chosen the South America region for you in the code cell below. We also wanted you to have a more succinct dataframe, so you will be using the `usecols=''` argument again to load specific columns from the CSV file instead of having to load the complete data and then subsetting by variable. Below the columns we chose and their descriptions according to the ACLED [codebook](https://acleddata.com/knowledge-base/codebook/).

|Variable|Description|
|:--|:--|
|event_id_cnty|A unique alphanumeric event identifier by number and country acronym.|
|event_date|The date on which the event took place. Recorded as Year-Month-Day.|
|year|The year in which the event took place.|
|event_type|The type of event; further specifies the nature of the event.|
|sub_event_type|A subcategory of the event type.|
|actor1|One of two main actors involved in the event (does not necessarily indicate the aggressor).|
|actor2|One of two main actors involved in the event (does not necessarily indicate the target or victim).|
|country|The country or territory in which the event took place.|
|location|The name of the location at which the event took place.|
|admin1|The largest sub-national administrative region in which the event took place.|
|fatalities|The number of reported fatalities arising from an event. When there are conflicting reports, the most conservative estimate is recorded.|
|notes|A short description of the event.|

In [2]:
south_america = pd.read_csv('../../Data/ACLED/1900-01-01-2022-04-22-South_America.csv', 
                            usecols= ['event_id_cnty', 'event_date', 'year', 'event_type', 'sub_event_type', 
                                       'actor1', 'actor2', 'country', 'location', 'admin1', 'fatalities', 'notes'])
south_america.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107238 entries, 0 to 107237
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   event_id_cnty   107238 non-null  object
 1   event_date      107238 non-null  object
 2   year            107238 non-null  int64
 3   event_type      107238 non-null  object
 4   sub_event_type  107238 non-null  object
 5   actor1          107238 non-null  object
 6   actor2          49036 non-null   object
 7   country         107238 non-null  object
 8   admin1          107238 non-null  object
 9   location        107238 non-null  object
 10  notes           107238 non-null  object
 11  fatalities      107238 non-null  int64
dtypes: int64(2), object(10)
memory usage: 9.8+ MB

Inspecting the `south_america` dataframe with .info() shows that there are just two numeric variables: `year` and `fatalities`. All other variables were read by the read_csv() function as `object` datatypes, which is the default type for string variables. 

### Separating strings with .str_split()

In [3]:
# use pd.str.split() to split the single value in 'date' using the blank space 
south_america['event_date'].str.split(' ')

# you get a list of three, and day is in the '0' index position
south_america['event_date'].str.split(' ').str[0]

0           [15, April, 2022]
1           [15, April, 2022]
2           [15, April, 2022]
3           [15, April, 2022]
4           [15, April, 2022]
                 ...
107233    [01, January, 2018]
107234    [01, January, 2018]
107235    [01, January, 2018]
107236    [01, January, 2018]
107237    [01, January, 2018]
Name: event_date, Length: 107238, dtype: object

0         15
1         15
2         15
3         15
4         15
          ..
107233    01
107234    01
107235    01
107236    01
107237    01
Name: event_date, Length: 107238, dtype: object

explain why insert to an index versus creating a new variable with the df['var'] =  method. and the disadvantage of not allowing you to replace the variable

why we don't create year (it's already there) So we decided to give you an example where day and month arent in the data as single cols.

In [4]:
# use .insert() to make a new variable 
day = south_america['event_date'].str.split(' ').str[0]
south_america.insert(2, 'day', day)

month = south_america['event_date'].str.split(' ').str[1]
south_america.insert(3, 'month', month)

south_america.head(1)

,event_id_cnty,event_date,day,month,year,event_type,sub_event_type,actor1,actor2,country,admin1,location,notes,fatalities
0,COL10764,15 April 2022,15,April,2022,Battles,Armed clash,Gulf Clan,ACSN: Self-Defense Conquerors of Sierra Nevada,Colombia,Magdalena,Cienaga,"On 15 April 2022, in the rural area of Cienaga...",5

In [5]:
south_america.drop(columns='event_date', inplace=True)
south_america.head(1)

,event_id_cnty,day,month,year,event_type,sub_event_type,actor1,actor2,country,admin1,location,notes,fatalities
0,COL10764,15,April,2022,Battles,Armed clash,Gulf Clan,ACSN: Self-Defense Conquerors of Sierra Nevada,Colombia,Magdalena,Cienaga,"On 15 April 2022, in the rural area of Cienaga...",5

In [6]:
# convert year to a string type! concatenating different data types is not allowed
south_america['year'] = south_america['year'].astype(str)

event_date = south_america['day']+' '+south_america['month']+' '+south_america['year']

south_america.insert(4, 'event_date', event_date)

south_america.head(1)

,event_id_cnty,day,month,year,event_date,event_type,sub_event_type,actor1,actor2,country,admin1,location,notes,fatalities
0,COL10764,15,April,2022,15 April 2022,Battles,Armed clash,Gulf Clan,ACSN: Self-Defense Conquerors of Sierra Nevada,Colombia,Magdalena,Cienaga,"On 15 April 2022, in the rural area of Cienaga...",5

In [7]:
# drop event_date again and re-create it with str.cat()
south_america.drop(columns='event_date', inplace=True)

event_date = south_america['day'].str.cat(south_america[['month','year']], sep=' ')
south_america.insert(4, 'event_date', event_date)

south_america.head(1)

,event_id_cnty,day,month,year,event_date,event_type,sub_event_type,actor1,actor2,country,admin1,location,notes,fatalities
0,COL10764,15,April,2022,15 April 2022,Battles,Armed clash,Gulf Clan,ACSN: Self-Defense Conquerors of Sierra Nevada,Colombia,Magdalena,Cienaga,"On 15 April 2022, in the rural area of Cienaga...",5

If you use different kinds of symbols to separate each part of the date, you can tell str.cat() what kind of symbol to use with the `sep=''` argument. For example, we are used to writing dates with a backslash separating the day, month, and year: `01/01/2000`.

In [8]:
# drop event_date again and re-create it with str.cat()
south_america.drop(columns='event_date', inplace=True)

event_date = south_america['day'].str.cat(south_america[['month','year']], sep='/')
south_america.insert(4, 'event_date', event_date)

south_america.head(1)

,event_id_cnty,day,month,year,event_date,event_type,sub_event_type,actor1,actor2,country,admin1,location,notes,fatalities
0,COL10764,15,April,2022,15/April/2022,Battles,Armed clash,Gulf Clan,ACSN: Self-Defense Conquerors of Sierra Nevada,Colombia,Magdalena,Cienaga,"On 15 April 2022, in the rural area of Cienaga...",5

## Date formatting with pd.to_datetime() and dt.strftime()
For date and time formatting that is a step more advanced, you can utilize pandas' own date and time functions to transform our event_date variable from a string type into a datetime type. This is important to learn because date variables are logically numeric. You can subtract one date from another to learn the time passed between dates, as well tell how long ago an event was from the present date. These operations should prove useful and you can make date calculations for spans of time if your date variables are in the right format.

The simplest function would be to convert a string or numeric column with something that looks like a date, into a true datetime data type with `pd.to_datetime()`. Below you will pass the event_date column to the datetime function with absolutely no extra arguments, letting the function parse the text with its own default algorithm. Observe how the original column's format changes from our previous format (15/April/2022) to the datetime standard (2022-04-15).

In [9]:
south_america['event_date']

pd.to_datetime(south_america['event_date'])

0           15/April/2022
1           15/April/2022
2           15/April/2022
3           15/April/2022
4           15/April/2022
               ...
107233    01/January/2018
107234    01/January/2018
107235    01/January/2018
107236    01/January/2018
107237    01/January/2018
Name: event_date, Length: 107238, dtype: object

0        2022-04-15
1        2022-04-15
2        2022-04-15
3        2022-04-15
4        2022-04-15
            ...
107233   2018-01-01
107234   2018-01-01
107235   2018-01-01
107236   2018-01-01
107237   2018-01-01
Name: event_date, Length: 107238, dtype: datetime64[ns]

Depending on where you are in the world, you may want to be more specific about the format of the date string. Or the date variable might have an exotic and non-standard format. Let's assume that the event_date format we have (15/April/2022) might not be a standard preference where you live and work, and other formats might confuse the automatic to_datetime() function. 

There are standard abbreviations you will need use to tell to_datetime() what kind of dates it is looking at, so check this [manual](https://4js.com/online_documentation/fjs-fgl-3.00.05-manual-html/c_fgl_DataConversions_format_datetimes.html) for more formatting codes and types. For example, our current event_date format would be `'%d/%b/%Y'`: Lowercase `%d` gives the day's date in two numbers; uppercase `%B` gives the full month name; `%Y` gives four digits for the year. We use the actual backslash `/` separators in the format

So we can use that code to tell to_datetime() exactly what format the date is in.

In [10]:
pd.to_datetime(south_america['event_date'], format='%d/%B/%Y')

0        2022-04-15
1        2022-04-15
2        2022-04-15
3        2022-04-15
4        2022-04-15
            ...
107233   2018-01-01
107234   2018-01-01
107235   2018-01-01
107236   2018-01-01
107237   2018-01-01
Name: event_date, Length: 107238, dtype: datetime64[ns]

Even though .to_datetime() had already converted the date admirably withough an explicit format argument, it is worthwhile to be careful with dates if the format was somehow ambiguous. 

We can do the reverse as well, and turn a datetime object into a string with the format of our choice. Imagine you wanted to transform the default datetime format to something more legible in an English speaking country. You can use the `dt.strftime()` function to make a __new__ string variable with the format of your choice. Let's use `.dt.strftime('%B %d, %Y')` as the format, which would return the full month in text, a white space, a two digit day, a comma, and the four month year.

Beware that strftime removes the datetime datatype and transforms the variable in to a string/object again! Read the output in the cell below where the datatype is specified as 'dtype: object'.

In [11]:
pd.to_datetime(south_america['event_date']).dt.strftime('%B %d, %Y')

0           April 15, 2022
1           April 15, 2022
2           April 15, 2022
3           April 15, 2022
4           April 15, 2022
                ...
107233    January 01, 2018
107234    January 01, 2018
107235    January 01, 2018
107236    January 01, 2018
107237    January 01, 2018
Name: event_date, Length: 107238, dtype: object

For now, assign event_date to be the standard datetime format, and make another variable called str_date to take on the strftime() value. 

A reminder, we have been assigning _new_ variables to specific columns with `.insert()`. This is to show you ways to keep similar variables 'together' in your dataframe. Below we assign the new `str_date` variable with easy assignment: where the new variable is on the left side of the `=` sign. This will automatically place your new variable at the last position in your dataframe, but it is also easier to overwrite an re-run code cells than using .insert().

In [12]:
south_america['event_date'] = pd.to_datetime(south_america['event_date'])
south_america['str_date'] = pd.to_datetime(south_america['event_date']).dt.strftime('%B %d, %Y')

south_america.head(1)
south_america.info()

,event_id_cnty,day,month,year,event_date,event_type,sub_event_type,actor1,actor2,country,admin1,location,notes,fatalities,str_date
0,COL10764,15,April,2022,2022-04-15,Battles,Armed clash,Gulf Clan,ACSN: Self-Defense Conquerors of Sierra Nevada,Colombia,Magdalena,Cienaga,"On 15 April 2022, in the rural area of Cienaga...",5,"April 15, 2022"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107238 entries, 0 to 107237
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   event_id_cnty   107238 non-null  object
 1   day             107238 non-null  object
 2   month           107238 non-null  object
 3   year            107238 non-null  object
 4   event_date      107238 non-null  datetime64[ns]
 5   event_type      107238 non-null  object
 6   sub_event_type  107238 non-null  object
 7   actor1          107238 non-null  object
 8   actor2          49036 non-null   object
 9   country         107238 non-null  object
 10  admin1          107238 non-null  object
 11  location        107238 non-null  object
 12  notes           107238 non-null  object
 13  fatalities      107238 non-null  int64
 14  str_date        107238 non-null  object
dtypes: datetime64[ns](1), int64(1), object(13)
memory usage: 12.3+ MB

## Search text with str.contains()

You may wish to search through your open-ended string variables for specific content, the way you would search inside of a document for a specific word. You have already done this in previous chapters with pandas' `str.contains()` function to subset by a specific country name. You can continue using str.contains() to look for observations with a specific word or phrase. Imagine you wished to analyze records of conflict involving the military. You could spend some time (as we did) skimming the `notes` variable entries in another program that reads CSV files, using the search function for useful terms for the military. You might notice the notes use other terms such as 'navy', 'army' , 'air force', 'military' (and maybe 'police' if appropriate). You can then employ thoe terms to query observations where the conflict involved the military using `str.contains()`. 

### Search multiple terms with `or` condition: `|` 

In the search string, you'll want to use the symbol `|`, which represents an `OR` condition. This returns a match for _any_ of the four terms. Using the `&` symbol would return observations where _all four_ terms were found in a single observation. You should also assign the resulting dataframe to a new object called `military_conflicts`. This dataframe has 11,411 observations, down from the original 107,238 observations of the `south_america` dataframe, so there were over eleven thousand events where military forces were involved.

In [13]:
military_conflicts = south_america[(south_america['notes'].str.contains('army|navy|air force|military', case=False))]

military_conflicts['fatalities'].count()

11411

In the next code cell, you can see what happens when you use random uppercase letters in the search string. This is to demonstrate what the `case=False` argument does. In fact, it returns the same number of arguments as the search in the previous code cell. Next you can see how many observations match when we make the query case sensitive with `case=True`. If you are looking for general concepts then it is usually a good idea to make your searches _not_ case sensitive. On the other hand, looking for something like a person or place name would likely require a case-sensitive search.

In [14]:
military_conflicts = south_america[(south_america['notes'].str.contains('Army|navY|air fORCe|mIlItArY', case=False))]
military_conflicts['fatalities'].count() #number of observations case insensitive

military_conflicts = south_america[(south_america['notes'].str.contains('Army|navY|air fORCe|mIlItArY', case=True))]
military_conflicts['fatalities'].count() # number of observations case sensitive

11411

396

### Search multiple terms with `and` condition `&`

Let's assume your research question was about a conflict event where both the military were present, and heavy duty vehicles related to those armed forces, e.g.: 'Army' and 'tank', or 'Air Force' and 'plane'. Those events might be of interest to you because they denote a level of severity and specificity in conflict that goes beyond a military presence. Let's see how it might go if we are interested in the occurance of airplanes in a military context.

Note: we alre already familiar with the ACLED data and the `notes` column specifically. Therefore, we know beforehand that only searching for 'plane' or 'airplane' alone leads to conflicts regarding transportation, not necessarily related to armed forces. Also, a country's Air Force might not be involved or named as such. So you will look for any mention of the term 'plane' __and__ 'military' __or__ 'air force'. Make thise case-insensitive again.

Unfortunately, the `&` condition requires you to specify the search terms in two separate calls of `df.str.contains()`. So we must put the 'plane' search in one str.contains() call, separate with the `&` symbol, and then the search for any of the armed forces search terms. All of these with the dataframe subset brackets of `south_america[...]`.

In [15]:
pd.options.display.max_colwidth = 300 # this option lets you read 100 characters in the cell output.

air_conflicts = south_america[(south_america['notes'].str.contains('plane', case=False)) & (south_america['notes'].str.contains('military|air force', case=False))]
air_conflicts['notes'].count() #number of observations
air_conflicts['notes'].head(3)

11

14488    On 19 September 2021, from Angra dos Reis municipality to Rio de Janeiro - West Zone, Rio de Janeiro, two members of the CV hijacked a plane transporting one of its members to the Gericino Complex Penitentiary in an attempt to release the group member from prison. The perpetrators were armed wit...
42916                                                                    Around 15 September 2020 (as reported), in a rural area of Machiques de Perija, Zulia state, military officers seized and afterwards burnt down a plane with American registration, which was suspected of being used for drug trafficking.
45954                                                                                                                                     On 2 August 2020, in Campo Grande, Mato Grosso do Sul, the Brazilian air force seized two planes loaded with cocaine, in a total of 1.1 tons of drugs. A man was arrested.
Name: notes, dtype: object

The search above yielded eleven observations where the terms 'air force' or 'military' coincided with the use of the term 'plane'. What if you were interested in searching for a third or fourth inclusive term? For example, what about searching for conflict events where the people are 1) staging a protest, 2) the protest is about prices of some necessary goods, 3) shooting occured at the protest. We would need three calls for str.contains() within the south_america[] brackets, and our terms could be 'protest', 'price|cost', and 'shot|shoot'. Run the search in the code cell below. The sesarch finds four events where the three terms all coincide in the notes about the conflict.

In [16]:
pd.options.display.max_colwidth = 300 # this option lets you read 100 characters in the cell output.

protest_conflicts = south_america[(south_america['notes'].str.contains('protest', case=False)) & 
(south_america['notes'].str.contains('price|cost', case=False)) & 
(south_america['notes'].str.contains('shot|shoot|fired', case=False))]

protest_conflicts['notes'].count() #number of observations
protest_conflicts['notes'].head(3)

4

2037     On 23 March 2022, in Lima (San Pedro), around 100 peasants blocked the PY03 highway to demand the General Prosecutor's resignation, the repeal of article 142 of the Penal Code, which criminalized the invasion of private properties, besides complaining about the rise in gas prices and other issue...
95381    On 25 May 2018, in Estrela, Rio Grande do Sul, despite of the agreement with the Federal Government and the suspension of the strike for 15 days, truck drivers held a protest on BR-386 against the rising prices of diesel. One protester was shot and the perpetrator was arrested, but the circumsta...
97700    On 21 May 2018, in Senges, Parana, truck drivers held a protest on PR-239 road against the rising prices of diesel. One protester was shot and was taken to hospital. The perpetrator, who was arrested, was also a truck driver and claimed that the protesters threw a rock at his truck. It was the f...
Name: notes, dtype: object

# Regular expressions (regex)

https://cheatography.com/davechild/cheat-sheets/regular-expressions/

## Searching strings with regex

You can use a regular expression pattern to find the same military query. The fisrt thing you do is to notify str.contains() that you will use a regular expression. Do so by flagging regex with `r` and then put your regular expression in quotes (single or double quotes both work): `str.contains(r'pattern')`. 

Regular expressions include ways to ignore upper and lowercase with a global case-insensitive argument `(?i)` instead of a function-specific argument. Place the case-insensitive argument before the four terms for armed forces we used above. Each term is also separated by the `|` symbol. The term 'air force' has a space in the middle. The regex code for a blank space is `\s`. However, the same query with a literal blank instead of `\s` yields the same outcome. It is just better practice to tell regex exactly what you are looking for.

In [17]:
military_conflicts = south_america[south_america['notes'].str.contains(r'(?i)army|navy|air\sforce|military')]
military_conflicts['notes'].count()

# without the regex term to whitespace '\s'
military_conflicts = south_america[south_america['notes'].str.contains(r'(?i)army|navy|air force|military')]
military_conflicts['notes'].count()

11411

11411

The code is similar to the previous searches _without_ regex. We won't claim its much simpler, however. It comes down to your comfort and familiarity with regex. As with all languages, the more you work with text data (web scraping and mining social media data both benefit greatly from knowing regular expressions) the better you'll get. Regardless of your preference in this example, there will be times when using regex is unavoidable, when the text you need to extract are patterns and not exact word matches. 

Searching with regex for 'plane' as well as the military or air force is a bit more complicated pattern. In fact it could be even more complex but we provide a generally working regex pattern for convenience! 

We need an instance where _both_ terms are present. However, regex actually cares a lot about order, because it is a language that precesses sequences. So searching for 'plane' and 'air force or military' will return only text where the term 'plane' precedes 'air force or military'. So the regex pattern actually has to repeat a matching pattern reversed! Thus the regex pattern would be `(?i)(plane.*(air force|military)` and ` | ` and `(military|air force).*plane)`

In [18]:
pd.options.display.max_colwidth = 300 # this option lets you read 100 characters in the cell output.

air_conflicts = south_america[(south_america['notes'].str.contains(r'(?i)(plane.*(air force|military)|(military|air force).*plane)', case=False))]
air_conflicts['notes'].count() #number of observations
air_conflicts['notes'].head(3)

/tmp/ipykernel_50429/3296508499.py:3: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  air_conflicts = south_america[(south_america['notes'].str.contains(r'(?i)(plane.*(air force|military)|(military|air force).*plane)', case=False))]

11

14488    On 19 September 2021, from Angra dos Reis municipality to Rio de Janeiro - West Zone, Rio de Janeiro, two members of the CV hijacked a plane transporting one of its members to the Gericino Complex Penitentiary in an attempt to release the group member from prison. The perpetrators were armed wit...
42916                                                                    Around 15 September 2020 (as reported), in a rural area of Machiques de Perija, Zulia state, military officers seized and afterwards burnt down a plane with American registration, which was suspected of being used for drug trafficking.
45954                                                                                                                                     On 2 August 2020, in Campo Grande, Mato Grosso do Sul, the Brazilian air force seized two planes loaded with cocaine, in a total of 1.1 tons of drugs. A man was arrested.
Name: notes, dtype: object

In both code cells above, you can corroborate that the same number of observations were returned with either regex terms or the normal text searches in the previous section. they were 11411 matches for any military forces, and eleven observations of planes and military or air force in the notes. Regular expressions would certainly be a more complicated choice if your search requires three or more search terms, as in our 'protest, price, & shooting' example. One would need to account for word order for the three terms, giving you six total permutations of protest, price, and shooting text order; far too long for the regular expression solution we shared.

## Pull regex pattern matches with str.extract()

There are times when you will need to extract a match from a regular expression to create a new variable. In the previous sections, we made new variables based on splitting strings by a comma or a whitespace. Then you learned how to use a regular expression to seek a string within a variable, which then returned those data observations where the search term matched. Now you will learn how to search for a specific pattern of text and pull the matching strings into usable data with `str.extract()`. 

The event_id_cnty variable holds the three letter ISO country code plus a numeric unique event id. The pattern is fairly simple to identify: Three letters from the alphabet, followed by some digits.

In [19]:
south_america['event_id_cnty']

0         COL10764
1         COL10766
2         COL10767
3          PAR3527
4          CHI8633
            ...
107233     VEN8468
107234      GUY328
107235    BRA20323
107236    BRA20327
107237    BRA20184
Name: event_id_cnty, Length: 107238, dtype: object

We could use any of these regex patterns to extract the event ID and ISO. 

- `^.{3}` The first three symbols regardless whether letters or numbers gets country ISO. 
- `[A-Z]+` One or more uppercase letters gets country ISO.
- `[A-Z]{3}` Exactly three uppercase letters gets country ISO.
- `\d+$` One or more numbers starting from the _end_ of the string gets event ID.
- `\d+` One or more numbers anywhere gets event ID.
- `[^\d]{3}` Three symbols, from the start of the string, that are __not__ digits gets country ISO.
- `[^A-Z]+` One or more symbol, from the start of the string, that are __not__ letters gets event ID.

And there are several more ways that you could capture ISO and event ID strings; the patterns above are not at all a comprehensive list. Try a few of these expressions out below. We chose the last pattern (`([A-Z]{3})`) as an example. 

Be careful to enter the pattern you wish to extract within parentheses. The str.contains() and str.match() functions don't care if a pattern is in parentheses, but str.extract() expects groups of patterns, even if it is only one. You specify a group to pull using parentheses, and each group or pattern in prentheses will return a different column of data. 

Running the code below, you can try different patterns from out list above. The patterns may not always work as expected, so remember to check your work before committing your regular expression to a new variable. In the second line of code, we show you the `expand=False` argument of str.extract which gives you unformatted vectors for __each pattern__ that you extract. Without the 'expand=False' argument, you will get a grouped data table. 

In this same cell, try adding a second or third group of patterns (e.g.: `str.extract(r'(^.{3})(\d+$)')`), so you can see what str.extract() does with each pattern.

In [20]:
# use str_extract()
south_america['event_id_cnty'].str.extract(r'([A-Z]{3})')

# make the vector flat
south_america['event_id_cnty'].str.extract(r'([A-Z]{3})', expand=False)

          0
0       COL
1       COL
2       COL
3       PAR
4       CHI
...     ...
107233  VEN
107234  GUY
107235  BRA
107236  BRA
107237  BRA

[107238 rows x 1 columns]

0         COL
1         COL
2         COL
3         PAR
4         CHI
         ...
107233    VEN
107234    GUY
107235    BRA
107236    BRA
107237    BRA
Name: event_id_cnty, Length: 107238, dtype: object

In the next code cell you can create two new columns with extract and insert. You could also use str.split(), which you have used before, and provide a pattern as the delimiter. For now you'll create a vector for both event id and ISO codes with str.extract(). It is important in this case to use the `expand=False` argument to obtain a flat vector to insert. As you saw in the previous code cell, the default behavior of str.extract() is to create a grouped table, which doesn't play well with the insert() function.

In [21]:
pd.options.display.max_colwidth = 30 # this option lets you read 100 characters in the cell output.

country_iso = south_america['event_id_cnty'].str.extract(r'([A-Z]{3})', expand=False)
event_id = south_america['event_id_cnty'].str.extract(r'(\d+)', expand=False)

south_america.insert(1, 'country_iso', country_iso)
south_america.insert(2, 'event_id', event_id)

south_america.head(10)

,event_id_cnty,country_iso,event_id,day,month,year,event_date,event_type,sub_event_type,actor1,actor2,country,admin1,location,notes,fatalities,str_date
0,COL10764,COL,10764,15,April,2022,2022-04-15,Battles,Armed clash,Gulf Clan,ACSN: Self-Defense Conquer...,Colombia,Magdalena,Cienaga,"On 15 April 2022, in the r...",5,"April 15, 2022"
1,COL10766,COL,10766,15,April,2022,2022-04-15,Riots,Mob violence,Rioters (Colombia),Police Forces of Colombia ...,Colombia,Sucre,Santiago De Tolu,"On 15 April 2022, in Santi...",0,"April 15, 2022"
2,COL10767,COL,10767,15,April,2022,2022-04-15,Strategic developments,Looting/property destruction,Military Forces of Colombi...,Gulf Clan,Colombia,Vichada,Cumaribo,Property destruction: Arou...,0,"April 15, 2022"
3,PAR3527,PAR,3527,15,April,2022,2022-04-15,Strategic developments,Looting/property destruction,Unidentified Armed Group (...,Civilians (Paraguay),Paraguay,San Pedro,Tacuati,"Looting: On 15 April 2022,...",0,"April 15, 2022"
4,CHI8633,CHI,8633,15,April,2022,2022-04-15,Strategic developments,Looting/property destruction,Indigenous Militia (Chile),Civilians (Chile),Chile,Biobio,Los Angeles,Property destruction: On 1...,0,"April 15, 2022"
5,COL10763,COL,10763,15,April,2022,2022-04-15,Battles,Armed clash,Military Forces of Colombi...,Gulf Clan,Colombia,Antioquia,El Bagre,"Around 15 April 2022, in t...",2,"April 15, 2022"
6,ECU1704,ECU,1704,15,April,2022,2022-04-15,Protests,Peaceful protest,Protesters (Ecuador),NaN,Ecuador,El Oro,El Cambio,"On 15 April 2022, in El Ca...",0,"April 15, 2022"
7,ECU1703,ECU,1703,15,April,2022,2022-04-15,Protests,Peaceful protest,Protesters (Ecuador),NaN,Ecuador,El Oro,El Guabo,"On 15 April 2022, in El Gu...",0,"April 15, 2022"
8,ARG10038,ARG,10038,15,April,2022,2022-04-15,Protests,Peaceful protest,Protesters (Argentina),NaN,Argentina,Rio Negro,San Carlos de Bariloche,"On 15 April 2022, in San C...",0,"April 15, 2022"
9,COL10765,COL,10765,15,April,2022,2022-04-15,Protests,Peaceful protest,Protesters (Colombia),NaN,Colombia,Magdalena,Santa Marta,"Around 15 April 2022, in S...",0,"April 15, 2022"

### Creating a new event size variable

The `notes` variable doesn't just provide commentary, there is data stored in these accounts of conflict events. When a conflict was deadly, the ACLED data provides the number of fatalities as a numeric variable. But there is no variable to describe the size of protests and riots where no fatalities were recorded. There are, however, comments within the notes variable if the number of people is counted or estimated. An example of what this description looks like:

> On 14 April 2022, in Puerto Iguazu (Misiones), around 50 members of the Education Workers Front, Association of State Workers (ATE), and the Argentine Workers' Central Union (CTA) blocked the National Route 101, interfering in the access to the Iguazu Falls and the international airport, as means to demand a decent salary. The protest took place during an extended holiday, complicating the entrance of 8,000 tourists who had tickets to enter the national park. [size=around 50]

We can use str.extract() to pull the size value from `notes` into a new column called `event_size` and sort and analyze the resulting data. This is relatively easy to do because the text follows a clear pattern: within quare brackets, after the string `size=`. This makes this figure a prime candidate for regular expressions. Using str.extract(), the pattern you should provide does something new compared to the country code examples. We have a regex pattern to match first, the square brackets and 'size=', but we want to _extract_ what's inside the brackets. That pattern to extract must go in parentheses, and the pattern we don't want to extract will be around it. 

The pattern explained in parts: `\[` is the special open-bracket character, `size=` is the actual string, `(.*?)` is any character any unlimited number of times, `\]` is the special close-bracket character. We attach a dropna() function to clean up the many missing variables, and then describe it. 

To describe the types of strings you extracted with regular expressions, assign the values to a new `size` object. It will have as many rows as the south_america data frame, with just one column for the extracted matched strings. To this size object, apply the pandas `.value_counts()` function. This will give you a table with the strings and the number of occurrances.

In [29]:
south_america['notes'].str.extract(r'\[size=(.*?)\]').dropna()

size = south_america['notes'].str.extract(r'\[size=(.*?)\]')

size.value_counts()

                0
1       no report
6       no report
7       no report
8       no report
9       no report
...           ...
107205  nearly 60
107206  no report
107216  no report
107232  no report
107233  no report

[62146 rows x 1 columns]

no report                    50048
hundreds                       949
dozens                         860
thousands                      329
around 100                     236
                             ...
approximately 15000              1
approximately 2,500              1
approximately 20 cars            1
approximately 20 families        1
up to 80,000                     1
Name: count, Length: 1512, dtype: int64

As you can see, there are important caveats and exceptions. The size estimates are a mix of numbers and words. You could further extract numbers for a purely numeric column, or use conditional statements or a [text-to-number package](https://pypi.org/project/text2num/). However, the numbers are not exact and, more often than not, uses words describing a rough estimate of the size of the event. Finally, the most frequent observation by far is `[size=no report]`, unfortunately. 

The value_counts()

## done

- str split
- split event date to two day/month columns
- find matches in the notes column for terms regarding the military. use regex and regular string example.
- introduce regex! split event_id_cnty to two columns, event id and country_iso

# To-do

- 
- make a column for intensity where every note with brackets has size after equals (protests and riots)
-