# Pandas II Problem Set

<span style="color:red">0 / 0 points</span>.

In this problem set, you will be loading inspecting, merging, subsetting, and analyzing data from the ACLED conflict data set. After every step in the problem set, please remebber to create a new code cell for your code, and a Markdown cell if asked.

In [1]:
# This code cell allows you to see every line of output when the code has multiple lines
# We include it in this assignment to see multiple outputs for a single cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

## Programming 

1. Import Pandas

2. Load ACS conflict data for North, Middle, and East Africa into objects `north`, `middle`, and `east`.

3. In a new Markdown cell, explain what is the correct method to merge the three dataframes: north, middle, and east. Why is this the correct method.

4. Display all the unique values for the `country` variable in each of the three dataframes (`north`, `middle`, and `east`)

5. Merge north, middle, and east into a new object named `nme_africa`. In the same code cell, list all the unique country names in the dataframe

6. Load the cnts.csv data into an object named `cnts`.
7. In the same code cell, capitalize all the values in the `country` variable so that we can merge it with `nme_africa` later.

8. Select the following four columns 'country','year','pop1','economics2', into a new object called `cnts_pop`

9. In a new Markdown cell, explain which method you would choose to merge `cnts_pop` data with `nme_africa` so that every observation from the `nma_africa` conflict data has the corresponding population and population density variables.

10. Merge `nme_africa` according to the method you chose. Name this new object `merge_nme`, then display the observations for Angola.

11. Create a subset of `merge_nme` for only observations where the year is __either__ 2007 __or__ 1997. We don't mean that the dataframe should be for just 1997 or just 2007; we mean that we want observations for both years. Name the object `years_nme`.

12. Make a crosstab of the types of conflict events for `year_nme`.

13. In a Markdown cell, explain how the conflicts across those two years differed in the entire north, middle, and east region.

14. Using the `nme_africa` dataframe, make a crosstab of countries and event type, sort values by 'Battles' in descending order.

15. In a Markdown cell, describe two facts you learned reading this crosstab.

16. Make three original tables using the `.groupby().aggregate()` nested functions to describe the data. Feel free to use `merge_nme`, `nme_africa`, or `years_nme` depending on the kind of data shapes you want to inspect.

## Debugging
The final questions of the problem set provides code with error(s). You have to inspect the code carefully and debug the code as asked.

17. The aggregate table below is meant to display a table with summed fatalities and mean GDP per capita for the country of Angola in the year 1999 and the year 2000, crosstabulated with different conflict event types. In a new code cell, fix any mistakes in the code and please write about all the errors that you fixed in a new Markdown cell.

In [28]:
merge_nme[(merge_nme['country']=='Angola') & (
    (nme_merge['year']=='1999') | 
    (merge_nme['year']=='2007'))].groupby(
    ['country','event_type','year']).aggregate('fatalities':'sum','economic2':'mean').reset_index()

SyntaxError: invalid syntax (2063709020.py, line 4)

18. This line of code should return a crosstab of a subset of the `merge_nme` dataframe for Rwanda and Somalia, but there is a bug in the way we subset by country that is stopping `.groupby()` from doing its job. In a new code cell, fix this line of code. Then in a new Markdown cell describe what the bug was that you encountered.

In [42]:
merge_nme['country'].str.contains('Rwanda|Somalia').groupby(['country','event_type']).aggregate({'fatalities':'sum'}).reset_index()

KeyError: 'country'