### Midterm Exam â€“ Python Programming Concepts

---

**Instructions:**  
- Write clear, well-commented code.  

- Ensure your code runs without errors.

- Submit a compiled html file called `'midterm\_<UID>'` where `<UID>` is your BruinID number.

- Import any necessary libraries as appropriate.
---

Good luck!

#### **Question 1: DataFrames**  

Answer the following questions using the following object.

In [ ]:
data = [
    {"Name": "Amara", "Family Name": "Singh", "Age": 29, "Score": 85.0, "Economic Class": "middle", "Income": 58.4},
    {"Name": "Liam", "Family Name": "O'Reilly", "Age": 24, "Score": 90.5, "Economic Class": "upper", "Income": 101.3},
    {"Name": "Carlos", "Family Name": "Gonzalez", "Age": 35, "Score": 78.0, "Economic Class": "low", "Income": 24.1},
    {"Name": "Mei", "Family Name": "Wang", "Age": 47, "Score": 92.0, "Economic Class": "highest", "Income": 132.5},
    {"Name": "Fatima", "Family Name": "Hassan", "Age": 31, "Score": 88.0, "Economic Class": "middle", "Income": 46.9},
    {"Name": "John", "Family Name": "Smith", "Age": 42, "Score": 75.0, "Economic Class": "low", "Income": 38.7},
    {"Name": "Olga", "Family Name": "Ivanova", "Age": 23, "Score": 80.0, "Economic Class": "upper", "Income": 118.2},
    {"Name": "Ahmed", "Family Name": "Khan", "Age": 27, "Score": 84.0, "Economic Class": "middle", "Income": 52.4},
    {"Name": "Leila", "Family Name": "Farah", "Age": 36, "Score": 91.0, "Economic Class": "highest", "Income": 159.7},
    {"Name": "Dmitri", "Family Name": "Petrov", "Age": 25, "Score": 77.0, "Economic Class": "middle", "Income": 65.3},
    {"Name": "Sofia", "Family Name": "Martinez", "Age": 45, "Score": 89.0, "Economic Class": "highest", "Income": 202.5},
    {"Name": "Hiroshi", "Family Name": "Yamamoto", "Age": 39, "Score": 87.0, "Economic Class": "upper", "Income": 132.9},
    {"Name": "Aisha", "Family Name": "Abdullah", "Age": 44, "Score": 92.5, "Economic Class": "highest", "Income": 245.8},
    {"Name": "Ivan", "Family Name": "Volkov", "Age": 28, "Score": 81.0, "Economic Class": "middle", "Income": 72.6},
    {"Name": "Lucas", "Family Name": "Mendes", "Age": 48, "Score": 82.0, "Economic Class": "upper", "Income": 195.4},
    {"Name": "Marie", "Family Name": "Dubois", "Age": 33, "Score": 86.5, "Economic Class": "highest", "Income": 289.1},
    {"Name": "Mohammed", "Family Name": "Al-Farsi", "Age": 18, "Score": 78.5, "Economic Class": "low", "Income": 26.4},
    {"Name": "Emma", "Family Name": "Larsen", "Age": 26, "Score": 93.0, "Economic Class": "upper", "Income": 137.5},
    {"Name": "Rajesh", "Family Name": "Patel", "Age": 30, "Score": 88.0, "Economic Class": "middle", "Income": 78.5},
    {"Name": "Sophia", "Family Name": "Chen", "Age": 38, "Score": 79.0, "Economic Class": "middle", "Income": 68.2},
    {"Name": "Benjamin", "Family Name": "Stevens", "Age": 40, "Score": 83.0, "Economic Class": "upper", "Income": 149.6},
    {"Name": "Elena", "Family Name": "Rodriguez", "Age": 52, "Score": 90.0, "Economic Class": "highest", "Income": 321.7},
    {"Name": "Ali", "Family Name": "Karimi", "Age": 19, "Score": 81.5, "Economic Class": "low", "Income": 29.7},
    {"Name": "Isabella", "Family Name": "Rossi", "Age": 34, "Score": 85.5, "Economic Class": "middle", "Income": 74.1},
    {"Name": "Xia", "Family Name": "Zhang", "Age": 41, "Score": 77.5, "Economic Class": "middle", "Income": 65.9},
    {"Name": "Pavel", "Family Name": "Novak", "Age": 46, "Score": 89.0, "Economic Class": "highest", "Income": 250.3},
    {"Name": "Ravi", "Family Name": "Subramanian", "Age": 43, "Score": 82.0, "Economic Class": "upper", "Income": 135.8},
    {"Name": "Maya", "Family Name": "Rahman", "Age": 37, "Score": 88.5, "Economic Class": "middle", "Income": 78.2},
    {"Name": "Yousef", "Family Name": "Bashir", "Age": 54, "Score": 91.5, "Economic Class": "highest", "Income": 420.1},
    {"Name": "Gabriela", "Family Name": "Silva", "Age": 32, "Score": 86.0, "Economic Class": "upper", "Income": 128.4},
    {"Name": "Santiago", "Family Name": "Gutierrez", "Age": 29, "Score": 84.5, "Economic Class": "middle", "Income": 68.7},
    {"Name": "Anika", "Family Name": "Schmidt", "Age": 35, "Score": 79.5, "Economic Class": "middle", "Income": 66.2}
]

1. Convert the data into a Pandas DataFrame named `df`.

2. Save the DataFrame as a CSV file named `respondents.csv`.

3. Load the CSV file back as a DataFrame in an objected called `df2`.

4. Display the first 12 rows of the DataFrame loaded from the file.

#### **Question 2: Advanced Dataframe**  
1. Sort `df2` by **Family Name** and display the result.

2. Make a new column called `Full_name` that is the first name and family name separated by a space.  For example, the first value will be 'Amara Singh'.

3. In `df2`, create a new column called `Letter` with the following values:
   - `F`: Score below 60
   - `D`: Score between 60-69
   - `C`: Score between 70-79
   - `B`: Score between 80-89
   - `A`: Score between 90-100

4.  Make a new DataFrame containing only students aged 25 or older.  Name it `df_older`.

5.  Make a new DataFrame containing students not in `df_older`.  Name it `df_younger`.

#### **Question 3: Descriptive Statistics**  
Using `df2`:

1. Compute the mean, median, and standard deviation of the `Score` column for `df_older` and `df_younger`.

2. Describe any differences you see in those three statistics for the two DataFrames.

3. Make a new object that contains descriptive statistics of the `Income` column in `df2`.  Name it `inc_desc` and display it.

#### **Question 4: Functions**  

1. Write a Python function called `describe_score` that outputs the following statement: `'<person>\'s score is a <value>.'` where `<value>` is calculated as:
    1. If the score is below 70, print 'Fail'.
    2. If the score is between 70 and 89, print 'Pass'.
    3. If the score is 90 or higher, print 'Excellent'.

The function will take one argument called `the_names` and another `the_scores`.  Use the appropriate columns from `df2`.  
    
Your answer needs to print a result for every row of `df2`.  For example, the first line of output should be 'Amara Sing's score is a Pass'.

#### **Question 5: Control Structures**  

1. Convert the `Income` column in `df2` to a list called `income_l`.  Then, write a for loop that iterates through it and prints the phrase 'This person earns <income>.' when the value is greater than 90.

2. Write a `while` loop that prints each value from from the `Economic Class` column until it encounters a value of `highest`, then stop the loop.

3.  Make a `while` loop with a `break` statement.  Specifically, the loop should break when the value of `Income` reaches a value greater than 100 for the _third time_.

4.  Write a function `handle_data` that accepts a dictionary where the keys are strings and the values are lists of integers. The function should compute the average of the values for each key and handle any exception that might occur if the value is not a list of integers. Test it with the following dictionary:

student_scores = {
       "Alice": [85, 90, 78],
       "Bob": [92, "N/A", 80],
       "Charlie": [70, 75, 65]
   }