# Introduction to Python Problem Set

<span style="color:red">0 / 0 points</span>.

In this problem set, you will practice the basics of programming in Python. There will be problems on basic math and logic operations, working with different data types, writing functions, and using Python packages. As ever, you will create new code cells and Markdown cells to write out your answers to the problems.

In [1]:
# This code cell allows you to see every line of output when the code has multiple lines
# We include it in this assignment to see multiple outputs for a single cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

## Programming 

1. Write line of code that performs the following math operation: $7 \times 10$. Use the numbers 7 and 10 to get the answer.

2. Now create three objects: `seven`, `two`, and `five` and assign them each their corresponding values as numbers.

3. Use all three objects you created above, `seven`, `two`, and `five`, to get the same answer you got in problem 1. Do not use any numbers in your code, just those three objects.

4. Use the `print()` function and the objects you created above to write

- 'The result of [seven] divided by [five] equals [your result].'.

For the words we put in square brackets `[]`, use the actual python objects. Use a mix of quotation marks and commas, not f-strings.

5. Use the `print()` function _with f-strings_, the numeric objects, _and_ the `type()` function to write the following two sentences.

- The number [two]' is a [datatype for two], while the word "seven" is a [dataype for string 'seven'].
- "[Two * five]" is a [datatype for 2 * 5] class, while "[two/five]" is a [dataype for 2/5]'

7. Create all three major data structures in the code cell below: `List`, `tuple`, and `dictionary`. The structures should have the following data:
    - `cities` = A list of five cities in Europe: Dublin, London, Krakow, Milan, and Zurich.
    - `odd` A tuple of the first ten odd numbers.
    - `city_dict` A dictionary where the keys are the same five cities in Europe, and the values are the countries where the cities are located.

Show that you created the correct datatype by using the `type()` function

7. Update the `city_dict` dictionary with a new key for Vatican City. The Vatican is not part of any one country, and dictionaries can have any size values you wish. So for the Vatican City key, supply a list of location values: `'Rome', 'Italy', 'E.U.'`. In another line of code, use a dictionary function that will display all of the keys within `city_dict`

8. Use indexing to find the following items in your three data structures, 'cities', 'odd', and 'city_dict'. You can write all of these in a single code cell.
    - The fourth value in `cities`.
    - Add the first and fifth values of `odd`.
    - Extract the highest level of geographic aggregation for the `Vatican City` key in `city_dict`.

9. Append the value `Vatican City` to the `cities` list. In another line of code append `Earth` to the values for the `Vatican City` key in `city_dict`. Print the contents for both updated objects.

10. In one line of code for each question below, use comparison and logical operators to evaluate the following statements. In your code cell, make a comment next to each line of code and state whether your expression evaluated as True or False.

    - Is the object `seven` greater than the object `five`?
    - Is either Dublin __or__ Cork in `city_dict`?
    - Is 7 in the tuple `odd` __and__ 2 in the tuple `odd` at the same time? 
    - Is the `[0]` index in `cities` equal to the `['Dublin']` key in `city_dict`?
    - Is the object `two` of the same datatype as the number 2? Use the `is` operator.
    - Is the length of `cities` __not equal__ to the length of the `city_dict` keys?

11. Import the NumPy package in a code cell below and calculate the mean, median, and standard deviation of the `odd` vector. You can [search here](https://numpy.org/doc/stable/reference/routines.statistics.html) for an official list of available statistics functions.

12. Create a function that converts inches to centimeters. Name the function `in2cm` and call its argument `inches`. Within the function, import and use NumPy to make sure you can multiply vectors, as well as objects with different datatypes. After writing the function, test it with the following commands:
    - `in2cm(inches=1)`
    - `in2cm(inches=odd)`
    - `in2cm((1.5, 34, 100, 58))`

## Interpretation Questions

13. In a Markdown cell below, please explain the difference between `string`, `int`, and `float` variable types in your own words.

14. Discuss a couple of different situations where mixing datatypes in an operation _can_ work in Python, and two more situations where some operation between different dataypes would _not work. By datatypes we mean every general class of data from Python's variable and structure classes like `str` and `tuple`, and package dataypes like `pandas DataFrame` and `NumPy array`.

## Debugging

The final questions of the problem set provides code with error(s). You have to inspect the code carefully and debug the code as asked.

15. The line of code below is to create a new dictionary of person's health measurements for the last twenty days, as recorded by a fitness monitoring app. There are bugs in the code that you must fix in a new code cell below. In a Markdown cell, please list the errors you encountered and what you did to fix them.

In [14]:
fit_stats = {
    'steps';[6895, 4898, 4667, 3617, 4333, 5225, 5820, 5356, 3635, 4637, 5112,
       6342, 6163, 3167, 5696, 6394, 5913, 3294, 6948, 4561,]
    'body_temp';[98.09, 97.82, 97.32, 98.1 , 97.93, 97.71, 98.02, 97.94, 98.16,
       98.54, 98.17, 98.17, 97.96, 98.06, 97.25, 97.93, 97.97, 97.91, 97.98, 97.81],
    'avg_heart';[68.1, 79.9, 64.3, 61.8, 68.1, 61.5, 62.7, 68.4, 59.2, 70.4, 75.7,
       60.4, 52.4, 70.1, 75.6, 64.4, 58. , 77.9, 58.2, 64.7],
    'calories';[1623, 4093, 1918, 1894, 4252, 4330, 3676, 4462, 2317, 3647, 3792,
       3354, 3852, 2586, 4895, 3031, 2052, 3305, 2469, 2082]
    'sleep_disrupt';[5, 1, 4, 4, 2, 3, 1, 4, 5, 2, 3, 1, 3, 4, 6, 3, 4, 2, 2, 4]
}

SyntaxError: invalid syntax (653211872.py, line 2)

16. The `print()` command below has a couple of bugs that stop the code from running correctly. Fix the code in a new code cell so that it prints the sentence correctly.

In [28]:
print(f'The statement "Vienna is in the city_dict object" is,' {'Vienna' in city_dict}')

SyntaxError: unterminated string literal (detected at line 1) (3037496956.py, line 1)

17. In the code below, we mistakenly included 'tomato' in the `vegetables` object. However, the code we wrote to remove 'tomato' doesn't work. In a new Markdown cell explain why we got this error and how you would fix this bug. Then, in a new code cell, fix the code so that you can create the same `vegetables` object and then successfully remove 'tomato' from it.

In [38]:
vegetables = ('lettuce', 'carrot', 'cabbage', 'tomato')

vegetables.remove('tomato')

vegetables # display the values

AttributeError: 'tuple' object has no attribute 'remove'

The `remove()` function does not work because `vegetables` is a tuple and tuples are immutable. You cannot add alter or remove any item in a tuple. I would solve this by re-assigning `vegetables` as a list instead.