### Intro to Computing Problem Set

<span style="color:red">0 / 0 points</span>.

In this first problem set, you are going to practice working within a jupyterlab notebook, creating code and Markdown cells, and 

1. Make a new code cell, import the os pakage and print the current working directory.

In [1]:
import os
print(os.getcwd())

/home/fernando/Documents/UCLA/DataX/Python_for_Social_Science/problem_sets/intro_to_computing

2. Use a text editor or your file browser to create a file named hello_world.py in the current working directory.
3. Open hello_world.py and write code that prints "Hello, world!". Save your changes to hello_world.py.

4. Run hello_world.py in a new code cell below.

In [2]:
%run hello_world.py

Hello, world!

5. Copy the hello_world.py script to the lessons/intro_to_computing/scripts/ directory (don't move or cut, actually make a copy). Run the script from a new code cell using the relative path from the current directory to the scripts directory.

In [3]:
%run ../../lessons/intro_to_computing/scripts/hello_world.py

Hello, world!

6. Launch a terminal from jupyterlab and run hello_world.py from the current working directory. Copy and paste the command and output in a new Markdown cell.

❯ python hello_world.py

Hello, world!

7. Change to the parent folder and run hello_world.py using a relative path. Copy and paste the command and output in a new Markdown cell.

❯ cd ..

❯ python intro_to_computing/hello_world.py

Hello, world!

8. Create a new Markdown cell and make a bullet list of your top five places to visit.

1. Vienna
2. Berlin
3. Tokyo
4. Auckland
5. The Moon

9. In a new code cell, import the pandas package and create a dataframe called `df` for three close friends or relatives. The dataframe should have their name, hometown, and age. Then display the dataframe.

In [4]:
import pandas as pd
df = pd.DataFrame(
    {
        "Name":["Micaela Battiste", "Fabian Patzak", "Pablo Flores"],
        "Hometown":["Flint, MI","Vienna, AT","Santiago, CL"],
        "Age":[38,40,42],
    }
)

df

               Name      Hometown  Age
0  Micaela Battiste     Flint, MI   38
1     Fabian Patzak    Vienna, AT   40
2      Pablo Flores  Santiago, CL   42